<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ISKOLAR | Search</title>
</head>
<body>
    <h1>try nepo</h1>
    <section class="search-section">
        <div action="/search" method="GET" class="search-side-section">
            <form class="search-form" autocomplete="off">

                <input type="text" name="first_name" id="first-name-input" placeholder="First Name" 
                    value="<%= search_information.first_name %>"
                    required
                >
                <input type="text" name="middle_name" id="middle-name-input" placeholder="Middle Name"
                    value="<%= search_information.middle_name %>"
                    required
                >
                <input type="text" name="last_name" id="last-name-input" placeholder="Last Name" 
                    value="<%= search_information.last_name %>"
                    required
                >
                <input type="number" name="user_id" id="user-id-input" placeholder="User ID" 
                    value="<%= search_information.user_id%>"
                    required
                >
                <button type="submit" class="btn btn-success" id="search-btn">Success</button>
            </form>
        </div>

        <section class="search-body-section">
            <div class="sub-section">

                <div class="last-name-column">
                    <label id="title-col">Last Name</label>
                    
                    <!-- De , Dela , Delos, San -->
                    <% for(let i = 0; i < student_lists.length; i++){ %>
                        <label class="last-name-rows"> 
                            <% var two_surnames = ["DE", "DEL" , "DELA" , "DELOS", "SAN"]; %>
                            <% let prev_key, prev_prev_key %>
                            <% if(two_surnames.includes(student_lists[i].last_name)) {%>
                                <%= student_lists[i].last_name %> <%= student_lists[i].first_name%>
                            <%}else{ %>
                                <%= student_lists[i].last_name %>
                            <% } %>
                        </label>
                    <% } %>

                </div>

                <div class="first-name-column">
                    <label id="title-col">First Name</label>

                    <% for(let i = 0; i < student_lists.length; i++){ %>
                        <label class="first-name-rows">
                            <% var two_middlenames = ["DE", "DEL" , "DELA" , "DELOS", "SAN"]; %>
                            <% var two_surnames = ["DE", "DEL" , "DELA" , "DELOS", "SAN"]; %>
                            <% var start %>
                            <% if(two_surnames.includes(student_lists[i].last_name)) {%>
                                <% start = 2 %>
                            <%}else{ %>
                                <% start = 1 %>
                            <% } %>

                            <% for (let [key, value] of Object.entries(student_lists[i])) {%>
                                <% if(key == 'id'){%>
                                    <% break%>
                                <% }%>
                                <% prev_key = key%>
                            <% }%>

                            <% for (let [key, value] of Object.entries(student_lists[i])) {%>
                                <% if(key == prev_key){%>
                                    <% break%>
                                <% }%>
                                <% prev_prev_key = key%>
                            <% }%>

                            <% if(!two_middlenames.includes(student_lists[i][prev_prev_key])){ %>
                                <% prev_prev_key = '' %>
                            <%} %>

                            <% let j = 0 %>
                            <% let start_key, end_key %>
                            <% for (let [key, value] of Object.entries(student_lists[i])) {%>
                                <% if(j == start){ %>
                                    <% start_key = key %>
                                <%}%>
                                
                                <% if(key == prev_prev_key || key == prev_key){ %>
                                    
                                    <% break %>
                                <% } %>
                                <% end_key = key %>
                                <% j++ %>
                            <% }%>
                            <%if(start_key == end_key){%>
                                <%= student_lists[i][start_key]%> 
                            <%}else{%>
                                <%= student_lists[i][start_key] %> <%= student_lists[i][end_key] %> 
                            <%}%>
                        </label>
                    <% } %>

                </div>

                <div class="middle-name-column">
                    <label id="title-col">Middle Name</label>

                    <% for(let i = 0; i < student_lists.length; i++){ %>
                        <label class="middle-name-rows">
                            
                            
                            <% for (let [key, value] of Object.entries(student_lists[i])) {%>
                                <% if(key == 'id'){%>
                                    <% break%>
                                <% }%>
                                <% prev_key = key%>
                            <% }%>

                            <% for (let [key, value] of Object.entries(student_lists[i])) {%>
                                <% if(key == prev_key){%>
                                    <% break%>
                                <% }%>
                                <% prev_prev_key = key%>
                            <% }%>
                            
                            <% if(two_middlenames.includes(student_lists[i][prev_prev_key])){ %>
                                <%= student_lists[i][prev_prev_key] %> <%= student_lists[i][prev_key] %>
                            <%}else{ %>
                                <%= student_lists[i][prev_key] %>
                            <%} %>
                        </label>
                    <% } %>

                </div>

                <div class="user-id-column">
                    <label id="title-col">User ID</label>

                    <% for(let i = 0; i < student_lists.length; i++){ %>
                        <label class="user-id-rows"> <%= student_lists[i].id %></label>
                    <% } %>
                </div>
            </div>
        </section>
    </section>

    <script type="text/javascript" src="/js/search.js" ></script>
</body>
</html>